/* *********************************************
General
********************************************* */

body {
	background-color: #d5d5d5;
	height: 100vh;
}

/* *********************************************
Navigation Section
********************************************* */

/* Top Bar Settings */
.top-bar {
	background-color: #000000;
}

.menu-centered {
	background-color: #000000;
}

a:link {
	color:#33a3b4;
	text-decoration:none;
}
a:visited {
	color:#33a3b4;
	text-decoration:none
}
a:hover {
	color:#99d1d9;
	text-decoration:underline
}
a:focus {
	color:#99d1d9;
	text-decoration:underline
}
a:active {
	color:#eaf5f7;
	text-decoration:underline
}
a .djh-logo:link {
	border-color:#33a3b4;
}
a .djh-logo:visited {
	border-color:#33a3b4;
}
a .djh-logo:hover {
	border-color:#99d1d9;
}
a .djh-logo:focus {
	border-color:#99d1d9;
}
a .djh-logo:active {
	border-color:#eaf5f7;
}

/* Tablet and Desktop Menu */
.top-bar-left img {
	height: 93px;
	border-style: solid;
	border-color: #33a3b4;
	border-width: 3px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 50px;
}
.top-bar-right li {
	height: 95px;
	background-color: #000000;
	font-family: courier;
}
 #horizontalmenu a {
	font-weight: bold;
	font-size: 1.5vw;
 }

/* Mobile Menu */
.menu-centered img {
	height: 93px;
	border-style: solid;
	border-color: #33a3b4;
	border-width: 3px;
	margin-top: 3px;
	margin-bottom: 1px;
}
/* I think this is obsolete, but didn't want to remove it yet.
.menu-centered #verticalmenu li {
	height: 95px;
	background-color: #000000;
	font-family: courier;
	font-weight: bold;
	font-size: 1.5vw;
	color: #33a3b4;
}
*/
#verticalmenu a {
	font-family: courier;
	font-weight: bold;
	font-size: 5vw;
}

/* *********************************************
Hero Section
********************************************* */

/* Front Page ******************************* */

/* Background Image Settings - Front Page
.hero-frontpic {
	background-image: url("djh-bg.jpg");
    background-repeat: no-repeat;
	background-size: contain; /* Use 'cover' for full width picture. Problem is cropping on full screen cuts off bottom. 
	background-color: #d5d5d5;
	background-position: center top;
	height: 100%;
	width: auto;
}
*/

#heropic {
	height: 100%;
	width: 100%;
	background-color: #d5d5d;
}

/* Title Settings - Front Page*/
.hero-front h1 {	
	text-align: center;
	font-family: courier;
	font-weight: bold;
	font-size: 7.5vw;
	color: #33a3b4;
	background-color: #d5d5d5;
	margin-bottom: 0px;
}

/* About Page ******************************* */

/* Title Settings - About Page*/
.hero-about {	
	background-color: #d5d5d5;
}

.hero-about h1{	
	text-align: center;
	font-family: courier;
	font-weight: bold;
	font-size: 5vw;
	color: #33a3b4;
	margin-bottom: 0px;
}

/* Contact Page ******************************* */

/* Title Settings - Contact Page*/
.hero-contact {	
	background-color: #d5d5d5;
}

.hero-contact h1{	
	text-align: center;
	font-family: courier;
	font-weight: bold;
	font-size: 5vw;
	color: #33a3b4;
	margin-bottom: 0px;
}

/* The Company Page ******************************* */

.hero-company {	
	background-color: #d5d5d5;
}

.hero-company h1{	
	text-align: center;
	font-family: courier;
	font-weight: bold;
	font-size: 5vw;
	color: #33a3b4;
	margin-bottom: 0px;
}

/* *********************************************
Main Section
********************************************* */

/* About Page******************************** */

/* Background & Layout Settings - About Page */
.main-about {
	background-color: #d5d5d5;
}

.main-about p {
	border-style: solid;
	border-color: #33a3b4;
	border-width: 3px;	
	padding: 3px;
}

#marisa-bio {
	margin-top: 40px;
}

/* Text Settings - About Page */
.main-about h2 {
	font-family: courier;
	font-weight: bold;
	color: #000000;
}

.main-about h3 {
	font-family: courier;
	font-weight: bold;
	color: #000000;
}

/* Image Settings - About Page */
.headshot {
	border-style: solid;
	border-color: #33a3b4;
	border-width: 3px;
	margin-top: 3px;
	margin-bottom: 1px;
}

/* Contact Page******************************** */

/* Background & Layout Settings - Contact Page */
.main-contact {
	background-color: #d5d5d5;
}

/* Text Settings - Contact Page */
.main-contact h2 {
	font-family: courier;
	font-weight: bold;
	color: #000000;
	border-style: solid;
	border-color: #33a3b4;
	border-width: 3px;	
	padding: 3px;
	text-align: center;
}

.main-contact h4 {
	font-family: courier;
	font-weight: bold;
	color: #000000;
	border-style: solid;
	border-color: #33a3b4;
	border-width: 3px;	
	padding: 3px;
	text-align: center;
}

/* The Company Page ******************************* */

.thumbnail {
	max-height: 8rem;
	border-color: #33a3b4;
	margin: 8px;
}

.gallery {
	text-align: center;
}

/* *********************************************
Footer
********************************************* */

/* *********************************************
Media Query
********************************************* */

/* Tablet and Desktop Menu */
@media screen and (max-width: 717px) {
	.medlarge {
		display: none;
	}
}

/* Mobile Menu */
@media screen and (min-width: 718px) {
	.small {
		display: none;
	}
}

/* Contact email sizing */
@media screen and (max-width: 350px) {
	.tiny {
		font-size: .8em;
	}
}



