body {
	/*background-image: url("djhbg.jpg");*/
	background-color: #000000;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
}

#logo {
	width: 100px;
	height: auto;
	border-style: solid;
	border-color: #33a3b4;
	margin: 10px;
	float: left;
}

ul {
	margin: 0px;
	padding-top: 35px;
}

#bannerlinks {
	background-color: #000000;
	color: #33a3b4;
	text-align: center;
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 200%;
	font-family: courier;
	font-weight: bold;
}

li {
    display: inline;
	margin: 15px;
}

a:link {
	color:#33a3b4;
	background-color:transparent;
	text-decoration:none
}
a:visited {
	color:#19515a;
	background-color:transparent;
	text-decoration:none
}
a:hover {
	color:#99d1d9;
	background-color:transparent;
	text-decoration:underline
}
a:active {
	color:#eaf5f7;
	background-color:transparent;
	text-decoration:underline
}

.container {
	position: relative;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 8em;
	font-family: courier;
	color: #33a3b4;
	position: absolute;
	top: 30px;
}
#title {
	max-width: 100%;
    height: auto;
}

#splash-area img {
  vertical-align: bottom;
  width: 100%;
}

footer {
	display: block;
	color: #000000;
}